html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
  }

.flex {
	display: flex;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-row {
  display: flex;
	flex-direction: row;
}

.flex-column {
  display: flex;
	flex-direction: column;
}

a {
  color: inherit;
  text-decoration: none;
}

body {
  text-align: center;
  max-width: 100%;
  background-color: #214E6F;
  color: white;
  font-family: Montserrat;
}

/* MENU */
.menu-button {
  font-size: 3vh;
}

.list {
  line-height: 4vh;
  padding: 1vh 0;
  width: 100vw;
}

/* HEADER */
#address {
  line-height: 4vh;
  padding-top: 3vh;
  font-size: 2.5vh;
  letter-spacing: .25vw;
}

/* SLIDESHOW */
.big-slideshow {
  display: none!important;
}

.slideshow {
  width: 100%;
}

.slide {
  width: 100%!important;
  height: 100%!important;
  background-position: center!important;
  background-size: contain!important;
  background-repeat: no-repeat!important;
}

.slide img {
  width: 100%;
}

.slick-initialized .slick-track {
    display: flex;
    align-items: center;
}

#slide1 {
  background: url("../images/Need Space.jpg");
}

#slide2 {
  background: url("../images/Open Lot.jpg");
}

#slide3 {
  background: url("../images/IMG_0713a.jpg");
}

#slide4 {
  background: url("../images/IMG_0714a.jpg");
}

/* FEATURES */
#features div {
  margin:0 5vw 5vw;
  padding-bottom: .5vh;
  font-weight: bolder;
  font-size: 2.5vh;
  letter-spacing: .25vw;
  border-bottom: 1px solid white;
}

/* TEXT */
#description p, #pricing p {
  margin: 0 2vw;
  line-height: 3vh;
}

#pricing p {
  font-size: 2vh;
  font-style: italic;
}

#pricing img {
  margin: 1vh 0;
}

/* CONTRACT BUTTON */
#contract{
  padding: 3vh 0;
}

#contract button[type=submit] {
  font-family: inherit;
  padding: 1vh;
  font-size: inherit;
  background-color: #BE1E2D;
  color: inherit;
  width: 90vw;
  border-radius: 1vh;
}

/* FOOTER */
footer a {
  padding: 1vh 0;
  font-size: 2.5vh;
}

@media only screen and (min-width: 800px) {
  body {
    width: 50%;
    margin: 0 auto;
  }

  .small-slideshow {
    display: none!important;
  }

  .big-slideshow {
    display: block!important;
  }

  .slide {
    width: auto;
  }

  .slick-initialized .slick-track {
    height: 50vh;
  }

  #features div {
    margin: 0 5vh 4vh;
  }

  #description p, #units p {
    margin: 0 2vw;
    line-height: 3vh;
  }

  #contract button[type=submit] {
    width: 25vw;
  }
}
